<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jx.csp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_SwipeBack">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".ui.activity.AdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AdWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.livevideo.LiveVideoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.record.RecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.record.LiveAudioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CommonWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.share.WatchPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.share.EditorActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <!-- 登录 -->
        <activity
            android:name=".ui.activity.login.auth.AuthLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.login.auth.AuthLoginOverseaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.login.email.EmailLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.moblie.CaptchaLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.email.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.email.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.SkipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.login.moblie.CaptchaLoginNicknameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.YaYaAuthorizeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 首页 -->
        <activity
            android:name=".ui.activity.main.ChoicePhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.PhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.PreviewPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.StarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.SelectBgMusicActivity"
            android:screenOrientation="portrait"/>

        <!-- 个人中心 -->
        <activity
            android:name=".ui.activity.me.MeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.AccountManageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.AccountManageEnActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.share.ContributePlatformActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.contribute.ContributeHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.contribute.ContributeHistoryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.FlowRateManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.HelpAndFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.VipManageActivity"
            android:screenOrientation="portrait"/>

        <!-- 设置 -->
        <activity
            android:name=".ui.activity.me.bind.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.bind.BindEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.bind.BindEmailTipsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.ReceiveEmailTipsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.activity.me.ActionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.GreenHandsGuideActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的信息 -->
        <activity
            android:name=".ui.activity.me.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.profile.IntroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.profile.NickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.profile.ClipImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".app.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--钉钉分享回调-->
        <activity
            android:name=".app.ddshare.DDShareActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- service -->
        <service android:name=".serv.CommonServ"/>
        <service android:name=".serv.DownloadServ"/>
        <service android:name=".serv.WebSocketServ"/>
        <service android:name=".serv.DownloadApkServ"/>

        <activity
            android:name=".ui.activity.TestMainUIActivity"
            android:screenOrientation="portrait"/>

        <!-- 极光推送 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>

                <!-- Required 用户接收SDK通知栏信息的intent -->
                <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> -->


                <!-- Required 用户打开自定义通知栏的intent -->
                <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> -->


                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="61f4b84e5c33850ca329d67d"/>
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name}"/>
        <meta-data
            android:name="APP_TYPE"
            android:value="${app_type}"/>
        <meta-data
            android:name="WX_ID"
            android:value="${wx_id}"/>
        <meta-data
            android:name="WX_SECRET"
            android:value="${wx_secret}"/>
        <meta-data
            android:name="SINA_KEY"
            android:value="${sina_appkey}"/>
        <meta-data
            android:name="SINA_SECRET"
            android:value="${sina_appsecret}"/>
        <meta-data
            android:name="QQ_ID"
            android:value="${qq_id}"/>
        <meta-data
            android:name="QQ_SECRET"
            android:value="${qq_key}"/>
        <meta-data
            android:name="TWITTER_KEY"
            android:value="${twitter_key}"/>
        <meta-data
            android:name="TWITTER_SECRET"
            android:value="${twitter_secret}"/>
        <meta-data
            android:name="LINKIN_APIKEY"
            android:value="${linkedin_apikey}"/>
        <meta-data
            android:name="LINKIN_SECRETKEY"
            android:value="${linkedin_secretkey}"/>
        <meta-data
            android:name="LINE_ID"
            android:value="${line_id}"/>
        <meta-data
            android:name="LINE_SECRET"
            android:value="${line_secret}"/>
        <meta-data
            android:name="FACEBOOK_KEY"
            android:value="${facebook_key}"/>
        <meta-data
            android:name="FACEBOOK_SECRET"
            android:value="${facebook_secret}"/>
        <meta-data
            android:name="DINGDING_ID"
            android:value="${dingding_id}"/>

    </application>

</manifest>