<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jx.csp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="jx.csp.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_SwipeBack">

        <activity
            android:name="jx.csp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="jx.csp.ui.activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="jx.csp.ui.activity.AdvActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="jx.csp.ui.activity.liveroom.LiveRoomActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ui.activity.record.RecordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="jx.csp.ui.activity.TestRecoderActivity"
                  android:screenOrientation="portrait"/>


        <activity
            android:name="jx.csp.ui.activity.CommonWebViewActivity"
            android:screenOrientation="portrait"/>

        <!--登录-->
        <activity
            android:name="jx.csp.ui.activity.login.ThirdPartyLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.login.EmailLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.login.CaptchaLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="jx.csp.ui.activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="jx.csp.ui.activity.login.ForgetPwdSkipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.login.CaptchaLoginNicknameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.login.YaYaAuthorizeLoginActivity"
            android:screenOrientation="portrait"/>

        <!--个人中心-->
        <activity
            android:name="jx.csp.ui.activity.me.MeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.AccountManageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.ContributePlatformActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.FlowRateManageActivity"
            android:screenOrientation="portrait"/>

        <!-- 设置 -->
        <activity
            android:name="jx.csp.ui.activity.me.set.ChangePwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.set.BindEmailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.set.BindEmailJumpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.set.BindChangeEmailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.set.BindPhoneActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的信息 -->
        <activity
            android:name="jx.csp.ui.activity.me.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="jx.csp.ui.activity.me.profile.IntroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="jx.csp.ui.activity.me.profile.NickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="jx.csp.ui.activity.me.profile.ClipImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

    </application>
</manifest>
