<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jx.csp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_SwipeBack">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".ui.activity.AdvActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.AdWebViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.liveroom.LiveRoomActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.activity.record.CommonRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.record.LiveRecordActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.activity.CommonWebViewActivity"
            android:screenOrientation="portrait"/>

        <!--登录-->
        <activity
            android:name=".ui.activity.login.AuthLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".ui.activity.login.AuthLoginEnActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".ui.activity.login.EmailLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.CaptchaLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.RegisterSkipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.login.ForgetPwdSkipActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.login.CaptchaLoginNicknameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.login.YaYaAuthorizeLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--首页-->
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.main.ScanActivity"
            android:screenOrientation="portrait"/>

        <!--个人中心-->
        <activity
            android:name=".ui.activity.me.MeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.AccountManageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.AccountManageEnActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.ContributePlatformActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.ContributeHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.ContributeHistoryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.FlowRateManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.FlowRateManageEnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.HelpAndFeedbackActivity"
            android:screenOrientation="portrait"/>

        <!-- 设置 -->
        <activity
            android:name=".ui.activity.me.bind.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.bind.BindEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.bind.BindEmailTipsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.YaYaAuthorizeBindActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.bind.ReceiveEmailTipsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.bind.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 我的信息 -->
        <activity
            android:name=".ui.activity.me.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.profile.IntroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.profile.NickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.profile.ClipImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="jx.csp.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!-- service -->
        <service android:name=".serv.CommonServ"/>
        <service android:name=".serv.WebSocketServ"/>

        <!--极光推送-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>

                <!--Required 用户接收SDK通知栏信息的intent-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>-->

                <!--Required 用户打开自定义通知栏的intent-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>-->

                <!--接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="61f4b84e5c33850ca329d67d"/>
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name}"/>
        <meta-data
            android:name="APP_TYPE"
            android:value="${app_type}"/>
        <meta-data
            android:name="WX_ID"
            android:value="${wx_id}"/>
        <meta-data
            android:name="WX_SECRET"
            android:value="${wx_secret}"/>
        <meta-data
            android:name="SINA_KEY"
            android:value="${sina_appkey}"/>
        <meta-data
            android:name="SINA_SECRET"
            android:value="${sina_appsecret}"/>
        <meta-data
            android:name="QQ_ID"
            android:value="${qq_id}"/>
        <meta-data
            android:name="QQ_SECRET"
            android:value="${qq_key}"/>
        <meta-data
            android:name="TWITTER_KEY"
            android:value="${twitter_key}"/>
        <meta-data
            android:name="TWITTER_SECRET"
            android:value="${twitter_secret}"/>
        <meta-data
            android:name="LINKIN_APIKEY"
            android:value="${linkedin_apikey}"/>
        <meta-data
            android:name="LINKIN_SECRETKEY"
            android:value="${linkedin_secretkey}"/>
        <meta-data
            android:name="LINE_ID"
            android:value="${line_id}"/>
        <meta-data
            android:name="LINE_SECRET"
            android:value="${line_secret}"/>

    </application>
</manifest>
