<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.pay">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
              android:minSdkVersion="16"
              tools:overrideLibrary="com.paypal.android.sdk.payments"/>

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:allowBackup="true">

        <!--Ping++ SDK所需要注册-->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!--微信支付需要注册-->
        <!--<font color='red'> 注：-->
        <!--1. 需要将以下"替换成自己APK的包名"换成在微信平台上注册填写的包名-->
        <!--2. WxPayEntryActivity这个类在SDK内部实现，开发者不需要额外实现该类-->
        <!--</font>-->
        <activity-alias
            android:name="jx.csp.app.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity"/>

        <!--支付宝支付需要注册-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!--银联支付需注册-->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>
    </application>
</manifest>
