<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yy.doctor">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_SwipeBack">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BannerActivity"
            android:screenOrientation="portrait"/>

        <!-- register -->
        <activity
            android:name=".activity.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.register.HospitalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.register.ActivationCodeExplainActivity"
            android:screenOrientation="portrait"/>

        <!-- meeting -->
        <activity
            android:name=".activity.meeting.MeetingDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.MeetingPPTActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.MeetingRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.MeetingSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.MeetingCommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.ExamIntroActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.ExamTopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.ExamEndActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.meeting.SignActivity"
            android:screenOrientation="portrait"/>


        <!-- data -->
        <activity
            android:name=".activity.data.ThomsonLibActivity"
            android:screenOrientation="portrait"/>


        <!-- me -->
        <activity
            android:name=".activity.me.ForgetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.HelpAndFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.CollectionMeetingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.EpnActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.me.EpnRechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.ChangePwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.EpnUseRuleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.JXActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.DisclaimerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.ContributionInvitedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.UpdateLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.EpnDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.EpcActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.ExchangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.EpcDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.UnitNumActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.UnitNumDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.ProvinceCityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.SectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.ClipImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.UnitNumDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.UnitNumDataDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- service -->
        <service android:name=".serv.LogoutServ"/>

    </application>

</manifest>