<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yy.doctor">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <!--生成快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_SwipeBack">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <!--user-->
        <activity
            android:name=".ui.activity.user.register.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.user.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.user.login.WXLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.user.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.user.ForgetPwdEmailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.user.ForgetPwdPhoneActivity"
            android:screenOrientation="portrait"/>

        <!-- user register -->
        <activity
            android:name=".ui.activity.user.PcdActivity"
            android:screenOrientation="portrait"/>

        <!--user hospital-->
        <activity
            android:name=".ui.activity.user.hospital.HospitalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.user.hospital.SearchHospitalActivity"
            android:screenOrientation="portrait"/>

        <!--首页-->
        <activity
            android:name=".ui.activity.home.NoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.home.BannerActivity"
            android:screenOrientation="portrait"/>

        <!-- 注册微信回调 -->
        <activity
            android:name="com.zhuanyeban.yaya.wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"/>

        <!-- meeting -->
        <activity
            android:name=".ui.activity.meeting.MeetingFolderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.MeetingDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.MeetingCourseActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".ui.activity.meeting.MeetingRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.MeetingCommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.ExamIntroActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.ExamTopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.QueTopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.ExamEndActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.QueEndActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.VideoCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.meeting.VideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".ui.activity.meeting.SignActivity"
            android:screenOrientation="portrait"/>

        <!-- search -->
        <activity
            android:name=".ui.activity.search.MeetingResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.search.UnitNumResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.search.SearchResultActivity"
            android:screenOrientation="portrait"/>


        <!-- data -->
        <activity
            android:name=".ui.activity.data.DataUnitDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.data.DataUnitsSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.data.DrugsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.data.ClinicsActivity"
            android:screenOrientation="portrait"/>

        <!-- me -->
        <activity
            android:name=".ui.activity.me.HelpAndFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.StatsMeetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.set.BindEmailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.set.BindPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.set.ChangePwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.epn.EpnActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.epn.EpnRechargeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.epn.EpnDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.epc.EpcActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.epc.ExchangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.epc.EpcDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.epc.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.unitnum.UnitNumActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.unitnum.UnitNumDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.profile.ModifyTextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.profile.SkillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.activity.me.profile.ClipImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.unitnum.FilesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.data.DownloadFileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.unitnum.LaunchDownloadDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.profile.TitleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.profile.SectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.LaunchTmpActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.CommonWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.data.PDFActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.me.MyCollectionActivity"
            android:screenOrientation="portrait"/>


        <!-- service -->
        <service android:name=".serv.CommonServ"/>
        <service android:name=".serv.DownloadServ"/>
        <service android:name=".serv.DownloadApkServ"/>
        <service android:name=".serv.GlConfigServ"/>

        <!--极光推送-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>

                <!--Required 用户接收SDK通知栏信息的intent-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>-->

                <!--Required 用户打开自定义通知栏的intent-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>-->

                <!--接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="88391aa0f118d8646d1fb6e3"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Gjn1PrlT8qKGLmp88kecOs14WQ8r66OP"/>

    </application>

</manifest>