<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yy.doctor">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_SwipeBack">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <!-- discover -->
        <activity
            android:name=".activity.discover.DataCenterActivity"
            android:screenOrientation="portrait"/>

        <!-- me -->
        <activity
            android:name=".activity.me.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.me.MyCollectionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.me.SettingsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.me.MyEpnActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.me.ProfileActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.me.ClearCacheActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.me.RechargeEpnActivity"
            android:screenOrientation="portrait"
            />

        <!-- register -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

    </application>

</manifest>